
- name: Install PostgreSQL
  apt:
    name: postgresql
    state: present

- name: Ensure PostgreSQL is running
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Configure pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: /etc/postgresql/15/main/pg_hba.conf # Note: Version might differ on Debian 13 (Trixie), currently assuming 15 or checking dynamic path would be better. Debian 13 might have 17. 
    owner: postgres
    group: postgres
    mode: '0640'
  notify: Restart PostgreSQL

# Fix for hardcoded version path: Find the version first
- name: Get PostgreSQL version
  shell: ls /etc/postgresql/ | head -n 1
  register: pg_version
  changed_when: false

- name: Configure pg_hba.conf (Dynamic Version)
  template:
    src: pg_hba.conf.j2
    dest: "/etc/postgresql/{{ pg_version.stdout }}/main/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: '0640'
  notify: Restart PostgreSQL

- name: Configure postgresql.conf to listen on all addresses
  lineinfile:
    path: "/etc/postgresql/{{ pg_version.stdout }}/main/postgresql.conf"
    regexp: "^#?listen_addresses = "
    line: "listen_addresses = '*'
    state: present
  notify: Restart PostgreSQL

- name: Create database user
  shell: |
    sudo -u postgres psql -tAc "SELECT 1 FROM pg_roles WHERE rolname='{{ db_user }}'" | grep -q 1 || \
    sudo -u postgres psql -c "CREATE USER {{ db_user }} WITH PASSWORD '{{ db_password }}';"
  register: create_user
  changed_when: "'CREATE USER' in create_user.stderr"

- name: Create database
  shell: |
    sudo -u postgres psql -tAc "SELECT 1 FROM pg_database WHERE datname='{{ db_name }}'" | grep -q 1 || \
    sudo -u postgres psql -c "CREATE DATABASE {{ db_name }} OWNER {{ db_user }};
  register: create_db
  changed_when: "'CREATE DATABASE' in create_db.stderr"

- name: Grant privileges
  shell: |
    sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE {{ db_name }} TO {{ db_user }};"
  changed_when: false
