[tool.ruff]
line-length = 88
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "I", "D"]
ignore = ["D100", "D104"] # Ignore missing docstring in public module/package

[tool.ruff.lint.pydocstyle]
convention = "google"
