@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mushroom-light text-gray-900;
  }
}

.glass-card {
  @apply bg-white bg-opacity-80 backdrop-blur-md border border-white border-opacity-20 rounded-2xl shadow-xl;
}
