---
- name: Configure all servers
  hosts: all
  become: yes
  roles:
    - common

- name: Configure Database
  hosts: database
  become: yes
  roles:
    - database

- name: Configure Backend
  hosts: backend
  become: yes
  roles:
    - backend

- name: Configure Proxy
  hosts: proxy
  become: yes
  roles:
    - proxy
