name: Deploy Infrastructure

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Generate Secrets
        id: secrets
        run: |
          echo "DB_PASSWORD=$(openssl rand -base64 16)" >> $GITHUB_OUTPUT

      - name: Deploy Bicep Template
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: SvamparnasRG_Prod
          template: ./infra/main.bicep
          parameters: >
            adminPublicKey="${{ secrets.SSH_PUBLIC_KEY }}"
            dbPassword="${{ steps.secrets.outputs.DB_PASSWORD }}"
            duckDnsToken="${{ secrets.DUCKDNS_TOKEN }}"
          failOnStdErr: false
